<!doctype html>
<html lang="en">
    <head>
        {% if page.style %}<link rel="stylesheet" href="/assets/css/{{ page.style }}.css"> </link>{% endif %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script src="https://kit.fontawesome.com/7f6d371de7.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/assets/css/styles.css">
        <title> {{ page.title }}</title>
    </head>
    <body>
        {% include navigation.html %}
        {{ content }}
    </body>
    {% include footer.html %}
</html>
